:root {
  --darkBlue: rgb(24, 24, 34);
  --white: rgb(199, 199, 199);
  --orange: #f35840;
  --gray: gray;
}

* {
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(10deg);}
  25% {-webkit-transform: rotate(-10deg);}
  50% {-webkit-transform: rotate(20deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(1deg);}
  25% {-ms-transform: rotate(-1deg);}
  50% {-ms-transform: rotate(1.5deg);}
  75% {-ms-transform: rotate(-5deg);}
  100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
  0% {transform: rotate(5deg);}
  25% {transform: rotate(-5deg);}
  50% {transform: rotate(5deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

header {
  display: flex;
  width: 100%;
  height: 120px;
}

.page-title {
  color: var(--white);
  font-family: 'PT Sans', sans-serif;
  font-size: 56px;
  width: 150px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0 15px 20px;
  padding: 8px;
  
}

.page-title:hover {
  cursor: pointer;
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

.page-title-accent {
  color: var(--orange);
}

.text-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

ul {
  margin: 35px 20px;
}

li {
  display: inline-block;
  font-size: 36px;
  padding: 15px;
}

.header-link {
  text-decoration: none;
  color: var(--white);
  padding: 10px;
}

.header-link:hover {
  cursor: pointer;
}

a:hover {
  color: rgb(178, 121, 16);
}

body {
  background-color: var(--darkBlue);
}

main {
  margin-top: 10px;
  
}

.view-container {
  justify-content: center;
  align-items: center;
}

.about-info-container {
  justify-content: center;
  align-items: center;
}

.welcome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 650px;
  margin: 200px 200px 450px;
  
}

.about-me {
  display: flex;
  flex-direction: column;
  margin: 80px 0px 80px;
  padding: 15px;
  color: var(--gray);
  line-height: 70px;

  
}

.profile-pic {
  max-height: 400px;
  border-radius: 500px;
  border: solid 4px;
  border-color: var(--orange);
}

.body-title {
  color: var(--white);
  font-size: 48px;

}

.text-header {
  font-size: 36px;
  color: var(--orange);
}

.description {
  display: flex;
  padding-right: 50px;
}

.capabilities {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 600px;
  color: rgb(138, 138, 138);
}

.capabilities-title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: bolder;
  margin-bottom: 20px;
  color: rgb(224, 224, 224);
}

.skills {
  font-weight: bolder;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 200px 0px 375px 0px;
  color: rgb(224, 224, 224);
}

.capabilities-description {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 35px;
  font-size: 15px;
}

.mid-imgs {
  height: 600px;
  width: 33.33%;
  background-color: blue;
  object-fit: fill;
}

.background-tint {
  background-color: rgba(5, 5, 5, 0.671);
  background-blend-mode: multiply;
  justify-content: end;
  flex-direction: column;
  font-weight: bolder;
}

.background-tint:hover {
  background-color: rgba(5, 5, 5, 0.507);
  background-blend-mode: multiply;
  
}

.mid-img-1 {
  height: 100%;
  width: 100%;
  display: flex;
  background-image: url("./assets/web-design.jpg");
  background-size: cover;
  background-position: -300px;
}

.mid-img-1:hover {
  color: rgb(221, 221, 221);
  text-shadow: 4px 1px 6px rgb(0, 0, 0);
}

.mid-img-2 {
  height: 100%;
  width: 100%;
  display: flex;
  background-image: url("./assets/front-end.webp");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: -50px;
}

.mid-img-2:hover {
  color: rgb(221, 221, 221);
  text-shadow: 4px 1px 6px rgb(0, 0, 0);
}

.mid-img-3 {
  height: 100%;
  width: 100%;
  display: flex;
  background-image: url("./assets/server.jpg");
  background-size: cover;

}

.mid-img-3:hover {
  color: rgb(221, 221, 221);
  text-shadow: 4px 1px 6px rgb(0, 0, 0);
}

form {
  background-color: var(--darkBlue);
  display: flex;
  justify-content: center;
  color: var(--orange);
  width: 180px;
  border: solid 1px;
  padding: 5px;
  border-color: var(--orange);
  border-radius: 5px;
}

input {
  background-color: var(--darkBlue) ;
  border: none;
  color: var(--orange);
  size: fill;
}

form:hover {
  color: var(--white);
  border-color: var(--white);
}

input:hover {
  color: var(--white);
  border-color: var(--white);
}

.projectPage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 900px;
}

.projectList {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
  flex-direction: column;
}

.projectImages {
  width: 100%;
  
}

.projectCardTitle {
  position: absolute;
  display: none;
  color: var(--white);
}

.projectCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px black;
  filter: brightness(90%);
}

.projectCard:hover {
  cursor: pointer;
  filter: brightness(40%);
}


/* ///// */

.pageTitleContainer {
  display: flex;

}

.projectPageTitle {
  font-weight: bolder;
  color: var(--orange);
  border-bottom: solid 3px var(--orange);
}

.projects {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100px;
}

.project-title {
  font-size: 48px;
  color: var(--white);
  text-decoration: underline;
}

.display-project {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2%;

}

.project-column { 
  display: flex;
  margin-bottom: 50px;
  border-radius: 30px;
  padding: 15px;
  justify-content: center;
  
  height: 500px;
  width: 31%;
  background-color: var(--gray);
}

.project-card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-header {
  display: flex;
  font-size: 36px;
  justify-content: center;
  color: var(--orange);
  height: 40px;
  width: 100%;
}

.card-link {
  display: flex;
  text-decoration: none;
  color: var(--orange);
  font-size: 36px;
}

.card-text {
  display: flex;
  text-align: center;
  margin: 15px;
  color: var(--white);

}

.card-image {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0px 30px;
  border-radius: 30px;
  border: solid 2px;
  border-color: var(--orange);
}

.card-image:hover {
  transform: scale(1.2);
}

.footerIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 200px;
}

.footerLink {
  color: rgb(201, 201, 201);
}

.bi-envelope:hover {
  cursor: pointer;
  color: rgb(178, 121, 16);
}

footer {
  /* background-color: var(--gray); */
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  margin-top: 150px;
}

.footerText {
  font-size: 15px;
}

footer, p {
  text-shadow: 10px;
}

@media (max-width: 1550px) {
  .project-column {
      width: 48%;
  }
  .projects {
      padding: 10px;
  }
  .welcome {
      flex-direction: column;
      height: 1000px;
      width: 100%;
      margin: 10px 0px 120px;
  }
  .card-image {
      margin-top: 5px;
  }
}

@media (max-width: 930px) {
  * {
      font-size: 18px;
  }
  li {
      padding: 3px;
  }
  ul {
      margin: 0 10px 0 10px;
  }
  .header-link {
      padding: 5px;
  }
  .profile-pic {
      max-height: 300px;
  }
  .display-project {
      padding: 15px;
  }
  .welcome {
      flex-direction: column;
      height: 1000px;
      width: 100%;
      margin: 10px 0px 450px;
  }
  .about-me {
      line-height: 50px;
  }
  .project-column {
      width: 100%;
  }
  .card-header {
      font-size: 28px;
  }
  .card-image {
      margin: 5px 0 0 15px;
  }
}