:root {
  --black: rgb(17, 17, 24); 
  --darkBlue: rgb(24, 24, 34);
  --white: rgb(199, 199, 199);
  --orange: #f35840;
  --gray: gray;
  --opaque: linear-gradient(90deg, rgba(41, 27, 235, 0.678) 0%, rgba(3, 150, 143, 0.747) 61%, rgba(0, 153, 33, 0.863) 100%);
  --gradient: linear-gradient(90deg, rgb(41, 27, 235) 0%, rgb(3, 150, 142) 61%, rgb(0, 153, 33) 100%);
  --title: 'League Spartan', sans-serif;
  --text: 'Roboto Mono', monospace;
  --header-outer-height: 120px;
  --header-inner-height: 90px;
  --header-height-difference: calc(
    var(--header-outer-height) - var(--header-inner-height)
  );
}

* {
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(10deg);}
  25% {-webkit-transform: rotate(-10deg);}
  50% {-webkit-transform: rotate(20deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(1deg);}
  25% {-ms-transform: rotate(-1deg);}
  50% {-ms-transform: rotate(1.5deg);}
  75% {-ms-transform: rotate(-5deg);}
  100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
  0% {transform: rotate(5deg);}
  25% {transform: rotate(-5deg);}
  50% {transform: rotate(5deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 710px;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 0%, 80%);
  }
  to {
    border-right-color: transparent;
  }
}

@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}

header {
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background: none;
  background-color: transparent;
}

.hamburgerMenu {
  display: none;
}

.logo {
  height: 90px;
  margin-top: 10px;
}

.page-title {
  color: var(--white);
  font-family: 'PT Sans', sans-serif;
  font-size: 56px;
  width: 150px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0 15px 20px;
  padding: 8px;
  
}

.page-title:hover {
  cursor: pointer;
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

.page-title-accent {
  color: var(--orange);
}

.text-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

ul {
  margin: 35px 20px;
}

li {
  display: inline-block;
  font-size: 36px;
  padding: 15px;
}

.header-link {
  font-family: var(--title);
  text-shadow: 1px 1px 3px black;
  text-decoration: none;
  color: var(--white);
  padding: 10px;
}

.header-link2 {
  font-family: var(--title);
  text-shadow: 1px 1px 3px black;
  text-decoration: none;
  color: rgb(27, 17, 170);
  padding: 10px;
}

.header-link:hover {
  cursor: pointer;
}

.header-link2:hover {
  cursor: pointer;
}

a:hover {
  color: #00fff2c5;
}

body {
  background-color: var(--black);
}

main {
  margin-top: 10px;
  
}

.view-container {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.about-info-container {
  justify-content: center;
  align-items: center;
}

.bottom-shadow {
  display: flex;
  position: relative;
  justify-content: center;
  z-index: 2;
  background-image: url(./assets/project-images/blue-pixels_cropped.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* box-shadow: 0px 0px 75px 10px black; */
}

.welcome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80%;
  align-items: center;
  width: 60%;
  margin: 200px 200px 300px;
  
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-width: 6px;
  border-style: solid;
  border-image: linear-gradient(to right, rgb(41, 27, 235) 0%, rgb(0, 153, 33) 100%) 1;
  z-index: 2;
  margin: 80px 0px 80px;
  padding: 65px;
  color: var(--gray);
  line-height: 70px;

  
}

.body-title {
  color: var(--white);
  font-family: var(--title);
  font-size: 100px;
  margin-bottom: 30px;
  /* text-shadow: 4px 1px 6px rgb(0, 0, 0); */

}

.body-logo {

  z-index: 2;
  margin-top: 120px;
  margin-left: -450px;
  filter: brightness(20%);
  filter: opacity(10%);
}

.text-header {
  font-size: 50px;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--title);
  margin-bottom: 30px;
}

.description {
  display: flex;
  flex-direction: row;
}

.welcome-link {
  font-family: var(--text);
  text-decoration: none;
  color: var(--white);
  font-weight: bold;
  font-size: 30px;
  padding-left: 45px;
  padding-right: 45px;
}

.descriptionText {
  font-family: var(--text);
}

.logo-container {
  position: relative;
}

.capabilitiesContainer {
  display: flex;
  width: 100%;
}

.capabilities {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 600px;
  color: rgb(138, 138, 138);
  margin-bottom: 200px;
}

.capabilities-title {
  display: flex;
  justify-content: center;
  font-family: var(--title);
  align-items: flex-end;
  margin-bottom: 20px;
  color: rgb(224, 224, 224);
}

.skills {
  font-family: var(--title);
  display: flex;
  justify-content: center;
  position: relative;
  margin: 200px 0px 375px 0px;
  color: rgb(224, 224, 224);
}

.capabilities-description {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 35px;
  font-size: 15px;
}

.mid-imgs {
  height: 600px;
  width: 33.33%;
  background-color: blue;
  object-fit: fill;
}

.background-tint {
  background-color: rgba(5, 5, 5, 0.671);
  background-blend-mode: multiply;
  justify-content: end;
  flex-direction: column;
  font-weight: bolder;
}

.background-tint:hover {
  background-color: rgba(5, 5, 5, 0.507);
  background-blend-mode: multiply;
  
}

.mid-img-1 {
  height: 100%;
  width: 100%;
  display: flex;
  background-image: url("./assets/web-design.jpg");
  background-size: cover;
  background-position: -300px;
}

.mid-img-1:hover {
  color: rgb(221, 221, 221);
  text-shadow: 4px 1px 6px rgb(0, 0, 0);
}

.mid-img-2 {
  height: 100%;
  width: 100%;
  display: flex;
  background-image: url("./assets/front-end.webp");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: -50px;
}

.mid-img-2:hover {
  color: rgb(221, 221, 221);
  text-shadow: 4px 1px 6px rgb(0, 0, 0);
}

.mid-img-3 {
  height: 100%;
  width: 100%;
  display: flex;
  background-image: url("./assets/server.jpg");
  background-size: cover;

}

.mid-img-3:hover {
  color: rgb(221, 221, 221);
  text-shadow: 4px 1px 6px rgb(0, 0, 0);
}

.projectPage {
  display: flex;
  position: relative;
  z-index: 6;
  justify-content: center;
  align-items: center;
  background: var(--gradient);
}

.projectPageFiller {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--darkBlue);

}

.projectPageFiller2 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 10px;
  background-color: var(--black);

}

.featuredSection {
  display: flex;
  margin-top: 200px;
  flex-direction: column;
  width: 60%;
  justify-content: center;
  margin-bottom: 300px;
}

.projectContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  width: 900px;
}

.projectList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projectImages {
  width: 900px;
  height: 500px;
  
}

.projectCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  filter: brightness(85%);
}

.featuredProjectList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.featureTitle {
  margin-left: 10px;
  margin-bottom: 300px;
}

.featuredContainer {
  display: flex;
  justify-content: center;
  width: 1400px;
}

.featuredProjectImagesLeft {
  display: flex;
  padding-right: 80px;
  padding-bottom: 80px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
  z-index: 1;
  margin-top: 80px;
  margin-left: 100px;
  background-color: var(--darkBlue);
  position: relative;
  overflow: hidden;
  /* box-shadow: 0px 0px 15px black; */
}

.slide-left {
  position: absolute;
  left: -960px;
  bottom: 0px;
  width: 960px;
  height: 540px;
  background: var(--opaque);
}

.featuredProjectImagesLeft:hover .slide-left {
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
}

.featuredProjectImagesRight {
  display: flex;
  padding-bottom: 80px;
  padding-left: 120px;
  padding-right: 80px;
  flex-direction: column;
  justify-content: end;
  z-index: 1;
  margin-bottom: 80px;
  margin-right: 100px;
  background-color: var(--darkBlue);
  position: relative;
  overflow: hidden;
  /* box-shadow: 0px 0px 15px black; */
}

.slide-right {
  position: absolute;
  left: -960px;
  bottom: 0px;
  width: 960px;
  height: 540px;
  background: var(--opaque);
}

.featuredProjectImagesRight:hover .slide-right {
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
}

.filter {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 960px;
  height: 540px;
  background: rgba(0, 0, 0, 0.596);
}


.box {
  position: absolute;
  background: var(--gradient);
  width: 960px;
  height: 540px;
}

.box-right {
  position: absolute;
  background: var(--gradient);
  width: 960px;
  height: 540px;
}

.box-fill-left {
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
  width: 950px;
  height: 530px;
  background-color: var(--darkBlue);
}

.box-fill-right {
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
  width: 950px;
  height: 530px;
  background-color: var(--darkBlue);
}

.featuredProjectCard {
  margin: 10px 10px 500px 10px;
  height: 360px;
  filter: brightness(80%);
}

.projectContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectCardContents {
  position: relative;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}

.projectTitle {
  font-family: var(--title);
  font-size: 80px;
  color: white;
}

.projectDescription {
  font-family: var(--text);
  color: white;
  text-shadow: 0px 0px 5px black;
  font-weight: bold;
}

.linksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkHover {
  text-decoration: none;
}

.linkHover:hover .projectLink {
  color: #00fff2c5;
}

#project-github {
  font-size: 60px;
  margin-right: 25px;
}

#text-right {
  text-align: end;
}

#we-do {
  background-image: url(./assets/project-images/we-do.JPG);
  background-size: cover;
  
}

#mood-for-food {
  background-image: url(./assets/project-images/mood-for-food.JPG);
  background-size: cover;
}

#weather-dashboard {
  background-image: url(./assets/project-images/weather-dashboard.JPG);
  background-size: cover;
}

#work-day-scheduler {
  background-image: url(./assets/project-images/work-day-scheduler.JPG);
  background-size: cover;
}

.card-left {
  margin-right: 250px;
  position: relative;
}

.card-right {
  margin-left: 250px;
  position: relative;
}

.projectLink {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: var(--title);
  color: white;
  
}

.projectLinkBG {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background: var(--gradient);
  width: 160px;
  height: 60px;
  border-radius: 5px;
}

.projectLinkBG:hover {
  cursor: pointer;
}


.pageTitleContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

}

.projectPageTitle {
  font-family: var(--title);
  font-size: 60px;
  font-weight: bolder;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* border-bottom: solid 3px var(--orange); */
}

.aboutMe {
  display: flex;
  justify-content: center;
  z-index: 1;
  width: 100%;
}

.aboutMeContainer {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
  align-items: center;
  flex-direction: column;
}

.aboutMeBackground {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(./assets/green-pixels.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.aboutMeHeader {
  display: flex;
  justify-content: center;
  margin-right: 100px;
  margin-top: 100px;
}

.profilePicContainer {
  position: relative;
  display: flex;
  height: 500px;
  margin-left: 100px;
  transform: rotate(10deg);
}

.profile-pic {
  max-height: 400px;
  position: absolute;
  z-index: 3;

}

.profile-pic-bg {
  position: absolute;
  left: -190px;
  bottom: 120px;
  height: 400px;
  width: 400px;
  margin-left: 200px;
  background: var(--gradient);
}

.profile-pic-bg-filler {
  position: absolute;
  height: 390px;
  width: 390px;
  margin-top: 5px;
  margin-left: 5px;
  background: var(--black);
}

.aboutMeHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 200px;
  width: 60%;
}

.aboutMeTitle {
  font-family: var(--title);
  font-size: 100px;
  margin-right: 150px;
  color: var(--white);
  transform: rotate(-5deg);
}

.aboutMeDescriptionContainer {
  width: 50%;
  margin-bottom: 150px;
}

.name {
  font-family: var(--title);
  font-size: 50px;
  color: var(--white);
  margin-bottom: 50px;
  text-shadow: 1px 1px 2px black;
}

.gradient {
  font-family: var(--title);
  font-size: 50px;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--title);
  text-shadow: none;
}

.aboutMeText {
  font-family: var(--text);
  color: var(--white);
  text-shadow: 1px 1px 2px black;
}

.resumePageContainer {
  display: flex;
  margin-top: 100px;
  width: 100%;
}

.resumeText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: var(--white);
  font-family: var(--text);
  margin-left: 100px;
}

.resumeLink {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-decoration: none;
  font-family: var(--title);
  font-size: 36px;
}

.resumeLink:hover {
  cursor: pointer;
}

.resumeDescription {
  padding: 30px;
  color: var(--white);
  margin-left: 70px;
}

.resumeContents {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.bi {
  font-size: 28px;
}

.bi-file-person-fill {
  margin-left: 15px;
}

.footerIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 200px;
}

.footerLink {
  color: rgb(201, 201, 201);
}

.bi-envelope:hover {
  cursor: pointer;
  color: #00fff2c5;
}

.contactTitle {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--title)
}

.contactForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 150px;
  margin-top: 100px;
  margin-bottom: 400px;
  width: 800px;
}

.contactInputContainer {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.inputTitle {
  color: var(--white);
  font-family: var(--title)
}

#errorMessage {
  margin-top: 50px;
  color: rgb(116, 2, 2);
}

.contactInput {
  background-color: var(--white);
  border-radius: 5px;
  border: solid 1px rgb(37, 37, 37);
}

.commentInput {
  height: 200px;
}

.submitButton {
  background-color: transparent;
  border: 2px solid rgb(41, 27, 235);
  color: rgb(41, 27, 235);
  font-family: var(--title);
  width: 150px;
  height: 50px;
  border-radius: 5px;
  margin-top: 30px;
}

.submitButton:hover {
  border: 2px solid rgb(3, 150, 142);
  color: rgb(3, 150, 142);
}

footer {
  /* background-color: var(--gray); */
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  margin-top: 150px;
}

.footerText {
  font-size: 20px;
  font-family: var(--title);
}

footer, p {
  text-shadow: 10px;
}

@media (max-width: 1550px) {
  .project-column {
      width: 48%;
  }
  .projects {
      padding: 10px;
  }

  .welcome {
      flex-direction: column;
      height: 1000px;
      width: 100%;
      margin: 10px 0px 120px;
  }

  .body-logo {
    display: none;
  }

  .about-me {
    width: 70%;
  }

  .card-image {
      margin-top: 5px;
  }

  .view-container {
    display: flex;
    width: 100%;
  }

  .resumePageContainer {
    display: flex;
    width: 100%;

  }

  .resumeContents {
    display: flex;
    width: 100%;
  }

  .capabilitiesContainer {
    display: flex;
    width: 100%;
  }

  .capabilities {
    width: 100%;
  }
}

@media (max-width: 930px) {
  * {
      font-size: 18px;
  }

  html,
  body{
  width:100%;
  overflow-x:hidden;
  }

  #root {
    width: 100%;
  }

  .view-container {
    display: flex;
    width: 100%;
  }

  .logo {
    height: 80px;
  }

  .header-link {
    padding: none;
    font-size: 10px;
  }

  ul {
    margin: 35px 0px;
  }
  
  li {
    display: inline-block;
    font-size: 36px;
    padding: 0px;
  }

  .desktopNav {
    display: none;
  }

  .hamburgerMenu {
    display: flex;
  }

  .navbar-toggler {
    height: 50px;
  }

  .body-logo {
    display: none;
  }

  .navbar {
    display: flex;
    position: relative;
    width: 100%;
    height: 70px;
    margin-top: 0;
    justify-content: flex-end;
    background-color: var(--black);
  }
  .nav-item {
    margin-bottom: 60px;
    margin-left: 40px;
  }

  .nav-link {
    font-family: var(--title);
    font-size: 60px;
  }

  .about-info-container {
    width: 100%;
  }

  .bottom-shadow {
    width: 100%;
  }

  .welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    width: 100%;
    margin: 0px 0px 0px;
  }

  .about-me {
    width: 90%;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    padding: 0px;
  }

  .body-title {
    font-size: 35px;
    margin-top: 15px;
  }

  .text-header {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .welcome-link {
    font-size: 15px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .aboutMeBackground {
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .aboutMeHeader {
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 160px;
  }

  .profilePicContainer {
    height: 200px;
    margin-left: 0px;
    margin-right: 10px;
  }
  
  .profile-pic {
    max-height: 150px;
  }
  
  .profile-pic-bg {
    height: 150px;
    width: 150px;
    left: -190px;
    bottom: 70px;

  }

  .profile-pic-bg-filler {

    height: 140px;
    width: 140px;
  }

  .aboutMeTitle {
    font-size: 50px;
    margin-right: 50px;

  }

  .name {
    font-size: 30px;
  }

  .gradient {
    font-size: 30px;
  }
/* 32040080*/

  .capabilities {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    color: rgb(138, 138, 138);
    margin-bottom: 100px;
  }

  .featuredContainer {
    display: flex;
    justify-content: center;
    width: 1400px;
  }
  
  .slide-left {
    position: absolute;
    left: -336px;
    bottom: 0px;
    width: 336px;
    height: 189px;
    background: var(--opaque);
  }
  
  .slide-right {
    position: absolute;
    left: -336px;
    bottom: 0px;
    width: 336px;
    height: 189px;
    background: var(--opaque);
  }
  
  .filter {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 336px;
    height: 189px;
    background: rgba(0, 0, 0, 0.596);
  }
  
  
  .box {
    position: absolute;
    background: var(--gradient);
    width: 336px;
    height: 189px;
  }
  
  .box-right {
    position: absolute;
    background: var(--gradient);
    width: 336px;
    height: 189px;
  }
  
  .box-fill-left {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    width: 326px;
    height: 179px;
    background-color: var(--darkBlue);
  }
  
  .box-fill-right {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    width: 326px;
    height: 179px;
    background-color: var(--darkBlue);
  }
  
  .featuredProjectCard {
    margin: 0px 0px 80px 0px;
    height: 360px;
    filter: brightness(80%);
  }

  .featuredSection {
    display: flex;
    margin-top: 200px;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-bottom: 100px;
  }

  .projectTitle {
    font-size: 30px;
  }

  .featureTitle {
    margin-left: 10px;
    margin-bottom: 100px;
  }

  .projectPageTitle {
    font-family: var(--title);
    font-size: 35px;
  }

  .projectDescription {
    font-size: 12px;
    margin-bottom: 0px ;
  }

  #project-github {
    font-size: 40px;
  }

  .projectLinkBG {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: var(--gradient);
    width: 100px;
    height: 50px;
    border-radius: 5px;
  }

  .projectCardContents {
    position: relative;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
  }

  .projectContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 10px;
    width: 100%;
  }

  .featuredProjectImagesLeft {
    padding-right: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
    z-index: 1;
    margin-top: 30px;
    margin-left: 40px;
    background-color: var(--darkBlue);
    position: relative;
    overflow: hidden;
    /* box-shadow: 0px 0px 15px black; */
  }
  
  .featuredProjectImagesRight {
    display: flex;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 10px;
    flex-direction: column;
    justify-content: end;
    z-index: 1;
    margin-bottom: 40px;
    margin-right: 40px;
    background-color: var(--darkBlue);
    position: relative;
    overflow: hidden;
    /* box-shadow: 0px 0px 15px black; */
  }

  .cardStartLeft {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .card-left {
    margin-right: 25px;
    position: relative;
    display: flex;
    justify-content: flex-start;
  }
  
  .card-right {
    margin-left: 0px;
    position: relative;
  }

  .projectPageFiller {
    width: 100%;
  }

  .projectPage {
    width: 100%;
  }

  .aboutMeDescriptionContainer {
    width: 60%;
  }

  .contactForm {
    margin-left: 20px;
    margin-right: 20px;
  }

  .resumeDescription {
    margin-left: 0px;
    text-align: center;
  }
  
  footer {
    margin-top: 50px;
  }
  
}