:root {
  --darkBlue: rgb(24, 24, 34);
  --white: rgb(199, 199, 199);
  --orange: #f35840;
  --gray: gray;
}

* {
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(10deg);}
  25% {-webkit-transform: rotate(-10deg);}
  50% {-webkit-transform: rotate(20deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(1deg);}
  25% {-ms-transform: rotate(-1deg);}
  50% {-ms-transform: rotate(1.5deg);}
  75% {-ms-transform: rotate(-5deg);}
  100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
  0% {transform: rotate(5deg);}
  25% {transform: rotate(-5deg);}
  50% {transform: rotate(5deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 710px;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 0%, 80%);
  }
  to {
    border-right-color: transparent;
  }
}

header {
  display: flex;
  width: 100%;
  height: 120px;
}

.page-title {
  color: var(--white);
  font-family: 'PT Sans', sans-serif;
  font-size: 56px;
  width: 150px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0 15px 20px;
  padding: 8px;
  
}

.page-title:hover {
  cursor: pointer;
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

.page-title-accent {
  color: var(--orange);
}

.text-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

ul {
  margin: 35px 20px;
}

li {
  display: inline-block;
  font-size: 36px;
  padding: 15px;
}

.header-link {
  font-family: 'Bebas Neue', cursive;
  text-shadow: 1px 1px 3px black;
  text-decoration: none;
  color: var(--white);
  padding: 10px;
}

.header-link:hover {
  cursor: pointer;
}

a:hover {
  color: #f35840c5;
}

body {
  background-color: var(--darkBlue);
}

main {
  margin-top: 10px;
  
}

.view-container {
  justify-content: center;
  align-items: center;
}

.about-info-container {
  justify-content: center;
  align-items: center;
}

.welcome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 650px;
  margin: 200px 200px 150px;
  
}
.scroll {
  margin-bottom: 100px;
  margin-left: 20px;
}

.scrollText {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.shimmer {

  color:white;
  
  background: #acacac -webkit-gradient(linear, 100% 0, 0 0, from(#818181), color-stop(0.5, #e7e7e7), to(#8a8a8a));
  
  background-position: -4rem top; /*50px*/
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: shimmer;
  -webkit-animation-duration: 2.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-background-size: 4rem 100%; /*50px*/
  
}

.about-me {
  display: flex;
  flex-direction: column;
  margin: 80px 0px 80px;
  padding: 15px;
  color: var(--gray);
  line-height: 70px;

  
}

.profile-pic {
  max-height: 400px;
  border-radius: 500px;
  border: solid 4px;
  border-color: var(--orange);
}

.body-title {
  color: var(--white);
  font-size: 48px;

}

.text-header {
  font-size: 36px;
  color: var(--orange);
}

.description {
  display: flex;
  padding-right: 50px;
}

.capabilities {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 600px;
  color: rgb(138, 138, 138);
  margin-bottom: 200px;
}

.capabilities-title {
  display: flex;
  justify-content: center;
  font-family: 'Bebas Neue', cursive;
  align-items: flex-end;
  margin-bottom: 20px;
  color: rgb(224, 224, 224);
}

.skills {
  font-family: 'Bebas Neue', cursive;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 200px 0px 375px 0px;
  color: rgb(224, 224, 224);
}

.capabilities-description {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 35px;
  font-size: 15px;
}

.mid-imgs {
  height: 600px;
  width: 33.33%;
  background-color: blue;
  object-fit: fill;
}

.background-tint {
  background-color: rgba(5, 5, 5, 0.671);
  background-blend-mode: multiply;
  justify-content: end;
  flex-direction: column;
  font-weight: bolder;
}

.background-tint:hover {
  background-color: rgba(5, 5, 5, 0.507);
  background-blend-mode: multiply;
  
}

.mid-img-1 {
  height: 100%;
  width: 100%;
  display: flex;
  background-image: url("./assets/web-design.jpg");
  background-size: cover;
  background-position: -300px;
}

.mid-img-1:hover {
  color: rgb(221, 221, 221);
  text-shadow: 4px 1px 6px rgb(0, 0, 0);
}

.mid-img-2 {
  height: 100%;
  width: 100%;
  display: flex;
  background-image: url("./assets/front-end.webp");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: -50px;
}

.mid-img-2:hover {
  color: rgb(221, 221, 221);
  text-shadow: 4px 1px 6px rgb(0, 0, 0);
}

.mid-img-3 {
  height: 100%;
  width: 100%;
  display: flex;
  background-image: url("./assets/server.jpg");
  background-size: cover;

}

.mid-img-3:hover {
  color: rgb(221, 221, 221);
  text-shadow: 4px 1px 6px rgb(0, 0, 0);
}


.projectPage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  width: 900px;
}

.projectList {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
  flex-direction: column;
}

.projectImages {
  width: 900px;
  height: 500px;
  
}

.projectCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  filter: brightness(85%);
}


/* ///// */

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 900px;
  height: 500px;
  perspective: 2000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateX(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  /* background-image: url('./assets/project-images/project-background.jpg'); */
  background-color: rgb(19, 19, 19);
  background-size: cover;
  background-position: center;
  color: white;
  transform: rotateX(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* ///// */
.featuredSection {
  display: flex;
  margin-top: 120px;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 200px;
}

.featuredProjectList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.featureTitle {
  margin-left: 10px;
}

.featuredContainer {
  display: flex;
  justify-content: center;
  width: 1400px;
}

.featuredProjectImages {
  width: 680px;
  height: 360px;
}

.featuredProjectCard {
  margin: 10px 10px 10px 10px;
  height: 360px;
  filter: brightness(80%);
}

.projectLink {
  color: white;
  text-decoration: none;
}

.projectCardTitle {
  font-family: 'Bebas Neue', cursive;
  text-shadow: 1px 1px 3px black;
  font-size: 80px;
}

.projectCardTitle2 {
  font-family: 'Bebas Neue', cursive;
  text-shadow: 1px 1px 3px black;
  font-size: 80px;
}

.projectCardTitle3 {
  font-family: 'Bebas Neue', cursive;
  text-shadow: 1px 1px 3px black;
  font-size: 80px;
}

.projectCardTitle4 {
  font-family: 'Bebas Neue', cursive;
  text-shadow: 1px 1px 3px black;
  font-size: 80px;
}


.projectCard:hover .projectCardTitle {
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  white-space: nowrap;
  animation: typewriter 1.6s steps(20) .35s .25 normal both,
    blinkTextCursor 500ms infinite;
}

.projectCard:hover .projectCardTitle2 {
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  white-space: nowrap;
  animation: typewriter 1.6s steps(30) .4s .58 normal both,
    blinkTextCursor 500ms infinite;
}

.projectCard:hover .projectCardTitle3 {
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  white-space: nowrap;
  animation: typewriter 1.6s steps(30) .35s .78 normal both,
    blinkTextCursor 500ms infinite;
}

.projectCard:hover .projectCardTitle4 {
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  white-space: nowrap;
  animation: typewriter 1.6s steps(25) .4s .81 normal both,
    blinkTextCursor 500ms infinite;
}

.featuredProjectCard:hover .projectCardTitle {
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  white-space: nowrap;
  animation: typewriter 1.6s steps(20) .35s .25 normal both,
    blinkTextCursor 500ms infinite;
}

.featuredProjectCard:hover .projectCardTitle2 {
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  white-space: nowrap;
  animation: typewriter 1.6s steps(30) .4s .58 normal both,
    blinkTextCursor 500ms infinite;
}

.featuredProjectCard:hover .projectCardTitle3 {
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  white-space: nowrap;
  animation: typewriter 1.6s steps(30) .35s .78 normal both,
    blinkTextCursor 500ms infinite;
}

.featuredProjectCard:hover .projectCardTitle4 {
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  white-space: nowrap;
  animation: typewriter 1.6s steps(25) .4s .81 normal both,
    blinkTextCursor 500ms infinite;
}

.pageTitleContainer {
  display: flex;

}

.projectPageTitle {
  font-family: 'Bebas Neue', cursive;
  color: var(--orange);
  text-shadow: 1px 1px 3px black;
  /* border-bottom: solid 3px var(--orange); */
}

.resumePageContainer {
  display: flex;
  margin-top: 100px;
  width: 100%;
}

.resumeText {
  color: var(--white);
  font-family: 'Bebas Neue', cursive;
  margin-left: 100px;
}

.resumeLink {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
  font-size: 36px;
}

.resumeLink:hover {
  cursor: pointer;
}

.resumeContents {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.bi-file-person-fill {
  margin-left: 15px;
  height: 36px;
}

.footerIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 200px;
}

.footerLink {
  color: rgb(201, 201, 201);
}

.bi-envelope:hover {
  cursor: pointer;
  color: #f35840c5;
}

.contactTitle {
  color: var(--orange);
  font-family: 'Bebas Neue', cursive;
}

.contactForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 150px;
  margin-top: 100px;
  margin-bottom: 400px;
  width: 800px;
}

.contactInputContainer {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.inputTitle {
  color: var(--white);
  font-family: 'Bebas Neue', cursive;
}

.contactInput {
  background-color: var(--white);
  border-radius: 5px;
  border: solid 1px rgb(37, 37, 37);
}

.commentInput {
  height: 200px;
}

.submitButton {
  background-color: transparent;
  border: 2px solid var(--orange);
  color: var(--orange);
  width: 150px;
  height: 50px;
  border-radius: 5px;
  margin-top: 30px;
}

.submitButton:hover {
  border: 2px solid rgb(129, 34, 0);
  color: rgb(129, 34, 0);
}

footer {
  /* background-color: var(--gray); */
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  margin-top: 150px;
}

.footerText {
  font-size: 15px;
}

footer, p {
  text-shadow: 10px;
}

@media (max-width: 1550px) {
  .project-column {
      width: 48%;
  }
  .projects {
      padding: 10px;
  }
  .welcome {
      flex-direction: column;
      height: 1000px;
      width: 100%;
      margin: 10px 0px 120px;
  }
  .card-image {
      margin-top: 5px;
  }
}

@media (max-width: 930px) {
  * {
      font-size: 18px;
  }

  #root {
    width: 100%;
  }
  li {
      padding: 3px;
  }
  ul {
      margin: 0 10px 0 10px;
  }
  .header-link {
      padding: 5px;
  }
  .profile-pic {
      max-height: 300px;
  }
  .display-project {
      padding: 15px;
  }
  .welcome {
      flex-direction: column;
      height: 1000px;
      width: 100%;
      margin: 10px 0px 450px;
  }
  .about-me {
      line-height: 50px;
  }
  .project-column {
      width: 100%;
  }
  .card-header {
      font-size: 28px;
  }
  .card-image {
      margin: 5px 0 0 15px;
  }

  .view-container {
    display: flex;
    width: 100%;
  }

  .about-me {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-header {
    text-align: center;
  }

  .description {
    padding-right: 0px;
  }
  
  .scroll {
    display: none;
  }

  p {
    text-align: center;
    
  }

  .capabilities {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    color: rgb(138, 138, 138);
    margin-bottom: 100px;
  }

  .flip-card {
    background-color: transparent;
    width: 350px;
    height: 180px;
    perspective: 2000px; /* Remove this if you don't want the 3D effect */
  }

  .projectImages {
    width: 350px;
    height: 180px;
  }

  .featuredContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .featuredSection {
    display: flex;
    margin-top: 120px;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 200px;
  }
  
  .featuredProjectList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .featureTitle {
    margin-left: 10px;
  }

  .title-head {
    margin-left: 30px;
  }
  
  .featuredProjectImages {
    width: 350px;
    height: 180px;
  }
  
  .featuredProjectCard {
    margin: 10px 10px 10px 10px;
    filter: brightness(80%);
  }

  .projectCardTitle {
    font-family: 'Bebas Neue', cursive;
    text-shadow: 1px 1px 3px black;
    font-size: 40px;
  }
  
  .projectCardTitle2 {
    font-family: 'Bebas Neue', cursive;
    text-shadow: 1px 1px 3px black;
    font-size: 40px;
  }
  
  .projectCardTitle3 {
    font-family: 'Bebas Neue', cursive;
    text-shadow: 1px 1px 3px black;
    font-size: 40px;
  }
  
  .projectCardTitle4 {
    font-family: 'Bebas Neue', cursive;
    text-shadow: 1px 1px 3px black;
    font-size: 40px;
  }

  .about-info-container{
    width: 100%;
  }

  .projectCard:hover .projectCardTitle {
    overflow: hidden;
    border-right: 2px solid hsl(0, 0%, 80%);
    white-space: nowrap;
    animation: typewriter 1.8s steps(30) .35s .15 normal both,
      blinkTextCursor 500ms infinite;
  }
  
  .projectCard:hover .projectCardTitle2 {
    overflow: hidden;
    border-right: 2px solid hsl(0, 0%, 80%);
    white-space: nowrap;
    animation: typewriter 1.6s steps(30) .4s .30 normal both,
      blinkTextCursor 500ms infinite;
  }
  
  .projectCard:hover .projectCardTitle3 {
    overflow: hidden;
    border-right: 2px solid hsl(0, 0%, 80%);
    white-space: nowrap;
    animation: typewriter 1.6s steps(30) .35s .42 normal both,
      blinkTextCursor 500ms infinite;
  }
  
  .projectCard:hover .projectCardTitle4 {
    overflow: hidden;
    border-right: 2px solid hsl(0, 0%, 80%);
    white-space: nowrap;
    animation: typewriter 1.6s steps(25) .4s .42 normal both,
      blinkTextCursor 500ms infinite;
  }
  
  .featuredProjectCard:hover .projectCardTitle {
    overflow: hidden;
    border-right: 2px solid hsl(0, 0%, 80%);
    white-space: nowrap;
    animation: typewriter 1.8s steps(30) .35s .15 normal both,
      blinkTextCursor 500ms infinite;
  }
  
  .featuredProjectCard:hover .projectCardTitle2 {
    overflow: hidden;
    border-right: 2px solid hsl(0, 0%, 80%);
    white-space: nowrap;
    animation: typewriter 1.6s steps(30) .4s .30 normal both,
      blinkTextCursor 500ms infinite;
  }
  
  .featuredProjectCard:hover .projectCardTitle3 {
    overflow: hidden;
    border-right: 2px solid hsl(0, 0%, 80%);
    white-space: nowrap;
    animation: typewriter 1.6s steps(30) .35s .42 normal both,
      blinkTextCursor 500ms infinite;
  }
  
  .featuredProjectCard:hover .projectCardTitle4 {
    overflow: hidden;
    border-right: 2px solid hsl(0, 0%, 80%);
    white-space: nowrap;
    animation: typewriter 1.6s steps(25) .4s .42 normal both,
      blinkTextCursor 500ms infinite;
  }

  .contactTitle {
    color: var(--orange);
    font-family: 'Bebas Neue', cursive;
  }
  
  .contactForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
  }
  
  .contactInputContainer {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  
  .inputTitle {
    color: var(--white);
    font-family: 'Bebas Neue', cursive;
  }
  
  .contactInput {
    background-color: var(--white);
    border-radius: 5px;
    border: solid 1px rgb(37, 37, 37);
  }
  
  .commentInput {
    height: 200px;
  }
  
  .submitButton {
    background-color: transparent;
    border: 2px solid var(--orange);
    color: var(--orange);
    width: 150px;
    height: 50px;
    border-radius: 5px;
    margin-top: 30px;
  }
  
  .submitButton:hover {
    border: 2px solid rgb(129, 34, 0);
    color: rgb(129, 34, 0);
  }
}